.tweet-content {
    display: flex;
    border: 1px solid #E6ECF0;
    margin: 10px;
    padding: 5px;
}

.user-image {
    border-radius: 50%;
    height: 80px;
}

.tweet-data {
    margin:0 0.8rem;
}